.centered-text {
  text-align: center;              
  font-family: 'Segoe UI', sans-serif; 
  font-size: clamp(0.5rem,2.5vw,1.5rem);               
  font-weight: 600;               
  color: #333;                    
  background-color: #f9f9f9;      
  padding: 20px;                   
  border-radius: 10px;            
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.bt {
  background-color: #007BFF; 
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 6px;
  font-size: clamp(14px, 2vw, 18px); 
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  transition: none; 
}
.fk {
  text-decoration: none;   
  cursor: default;         
  color: whitesmoke;
  font-weight: 600;

}
.bt:hover {
      background-color: #005fa3;
    }
